/* team_index */
.apl_title {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.header-layout {
  justify-content: space-between;
}

.bg-main {
  background-color: #8fc4c5;
}

.header-left{
  display: flex;
}

.edit-btn{
  background-color: #dce1ee;
  color: dimgrey;
  border-color: #9aabcc;
}

.main-layout {
  background-color: #c7eaeb;
  min-height: 100vh;
  height: auto;
  display: flex;
}

.left-screen {
  width:200px;
  background-color: #b0d6d8;
  justify-content: center;
}


.trim-image-to-circle {
  background-image: url("summerriver.jpg");  /* 表示する画像 */
  width:  180px;       /* ※縦横を同値に */
  height: 180px;       /* ※縦横を同値に */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  background-position: left top;  /* 横長画像の左上を基準に表示 */
  display: inline-block;          /* 複数の画像を横に並べたい場合 */
}

/* レスポンシブしたいね */
.profile-img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 30px 30px;
}

.link_team{
  text-decoration: none;
  color:black ;

}

/* user_index */

.boad-layout{
  height: 100vh;
  width: 2000px;
  background-color: #c7eaeb;
  overflow:scroll;
  white-space:nowrap;
}

.schedule {
  display: flex;
  background-color:rgb(183, 205, 224, 0.5);
  margin: 10px;
}

.user-icon{
  width:150px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
}
.boad {
  height: 250px;
  width: 200px;
  border-radius: 5px;
  background-color: aliceblue;
  margin: 10px;
  overflow: scroll;
}

.boad-show{
  /* height: 100%; */
  width: 200px;
  border-radius: 5px;
  background-color: aliceblue;
  margin: 10px;
}

/* log_in */

.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: #9aabcc;
  border: 1px solid #9aabcc;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

/* registration */
.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.user-link{
  text-align: center;
}

/* form-wrapは商品購入画面でも使用しています */
.form-wrap {
  width: 50%;
  background-color: white;
  padding-bottom: 70px;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 130px;
  margin: 5px 20px 0 20px;
  height: 48px;
  line-height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
}

.input-birth-wrap select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-birth-wrap p {
  line-height: 60px;
  padding: 0 5px;
}

.field_with_errors {
  display: contents;
}


.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.form-bottom-text>span {
  color: #0099e8;
  cursor: pointer;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
}

.register-red-btn {
  width: 100%;
  background: #9aabcc;
  border: 1px solid #9aabcc;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.register-info {
  margin: 30px 180px 0 0;
  color: #0099e8;
  text-align: right;
  cursor: pointer;
}

/* team_card */
.card-img-top {
  width:100%;
  height:200px;
}

.card {
  margin-top: 10px;
  width: 300px;
  height: 100%;
}

/* task-card */
ul.cp_list {
  position: relative;
  padding: 0;
  list-style-type: none;
  margin: 5px;
}
ul.cp_list li {
  padding: 0.5em;
  margin-bottom: 3px;
  line-height: 1.5;
  border-left: solid 6px #1A237E;
  background: #abe2ea;
  color:#1A237E;
  font-size: 12px;
  /* height: 45px; */
}

.progress-mini{
  height: 6px;
}
